<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="native-contact-picker"
    version="0.0.6">
    <name>NativeContactPicker</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/oggyman/native-contact-picker.git</repo>
    <issue>https://github.com/oggyman/native-contact-picker/issues</issue>

    <!-- android -->
    <platform name="android">
      <js-module src="www/main.js" name="plugin">
        <runs/>

        <clobbers target="NativeContactPicker" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="NativeContactPicker">
          <param name="android-package" value="com.plugin.NativeContactPicker" />
          <param name="onload" value="true" />
        </feature>
      </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_CONTACTS" />
        </config-file>
      <source-file src="src/android/com/nativeContactPicker/NativeContactPicker.java" target-dir="src/com/nativeContactPicker/" />
    </platform>

</plugin>
